<br />

<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
  <h1>Team</h1>

  <p>
    Currently Flixter is a team of one. To learn more about our Founder/Creator/Overlord, visit his personal website - <%= link_to 'Michael Kulinski.com', 'http://michaelkulinski.com' %>
  </p>
</div>